@charset "utf-8";
@import "normalize";

$primary: #75ADD2;

h1, h2, h3, h4, h5 , h6 {
	font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;  
}

@keyframes slideIn {
  from {
    margin-left: -80vw;
    opacity: 0;
    transform: skewX(-30deg);
  }
  40% {
    transform: skewX(-20deg);
    opacity: 0.5;
  }
  90% {
    transform: skewX(10deg);
    opacity: 1;
  }
  to {
    transform: none;
    margin-left: 0;
    opacity: 1;
  }
}



.logo {
  color: $primary;
  font-family: 'museo300';
  font-size: 2em;
  position: relative;
  top: 1em;
  left: 0.75em;
  transition: all 0.3s ease;
  animation: fadeIn 2s;
}


.nav {
  margin-top: -1em;
  .underline {
    animation: fadeIn 3s;
    position: relative;
    top: 0em;
    display: inline-block;
    height: 3px;
    width: 3em;
    background-color: $primary;
    left: 0.7em;
    transition: all 0.15s ease-out;
  }
  ul {
    width: 16.14em; 
    margin: 0 0 0 auto;
    padding: 0;
    .home {
      animation-duration: 1s;
    }
    .projects {
      animation-duration: 0.5s;
    }
    .contact {
      animation-duration: 0.2s;

    }
    li {
      animation: slideIn;
      display: inline-block;
      margin: 0 0.9em;
      a {
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        color: black;
        font-size: 0.9em;
        letter-spacing: 0.09em;
      }
    }
  }
}

header {
  width: 9.845em;
  margin: 0 auto 0 10%;
  padding-top: 0.1em;
  h1 {
    animation: slideIn 2s;
    font-weight: lighter;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
  
}

.profile-pic {
  img {
    animation: fadeIn 4s;
    position: absolute;
    top: 5em;
    right: 2.2em;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    box-shadow: 0px 0px 3px 1px #777;
    transition: all 0.5s ease;
  }
}

article {
  animation: fadeIn 4s;
  padding: 2em;
  font-size: 0.95em;
  line-height: 1.4em;
  color: lighten(black, 25%);
  transition: all 0.3s ease;

}

@media(max-width: 322px){
  .logo {
    opacity: 0;
  }
}

@media(max-width: 380px){
  .logo {
    top: 1.15em;
    font-size: 1.5em;
  }
}

@media (min-width: 600px) {

  header {
  margin: 0 auto;

  }
  .nav {
    ul {
      margin: 0 auto;
    }
  }
  article {
    padding: 2em 8em;
    animation: fadeIn 3s;

  }
  .profile-pic {
    img {
      animation: fadeIn 3s;
      position: absolute;
      top: 4.5em;
      left: 6em;
      border-radius: 50%;
      height: 5em;
      width: 5em;
      box-shadow: 0px 0px 3px 2px #777;
    }
  }
}

@media (min-width: 992px) {
  .logo {
    left: 5em;

  }
  .hexagon-wrapper {
    top: 1em;
    left: 2em;
  }
  article {
    padding: 2em 10em 2em 20em;
  }
  .profile-pic {
    float: left;
    img {
      animation: fadeIn 3s;
      position: relative;
      top: 2.5em;
      left: 8em;
      border-radius: 50%;
      height: 8em;
      width: 8em;
      box-shadow: 0px 0px 3px 2px #777;
    }
  }
}

@media (min-width: 1200px) {
  body {
    margin: 0 10%;
  }
}
