---
title: Vivek Patel
---
<div class="spotlight"></div>
<header>
  <div><h1>Who Am I?</h1></div>
</header>
<main>
  <div class="profile-pic"><img src="https://avatars1.githubusercontent.com/u/6004526?v=3&s=460"></div>
  <article>
    <p>Hello and welcome to my page! My name is Vivek Patel and I am a web devloper based in Austin, TX.
       I enjoy building all sorts of apps, ranging from small business sites to interactive web games!</p>
    <p>I am a code school graduate from The Iron Yard, where I primarily learned Ruby on Rails. My skillset also includes
       HTML, CSS, JavaScript, along with use of various libraries such as jQuery, React and others.</p>
    <p>If you feel like I can assist you in anyway, feel free to reach out to me!</p>
  </article>

</main>
